h2 Enter a block of grammatically coherent text
div.col-md-6
  textarea.form-control(ng-model='form.text', rows='15', cols='30', placeholder='Enter text here.')
  button(ng-click='action()', class='btn btn-default') Begin
